body {
  background-color: rgb(252, 123, 31);
}

section.order {
  background-color: coral;
  padding: 0 10% 0 10%;
}

section.board {
  background-color: #c91313;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1.heading {
  text-align: center;
  color: rgb(184, 2, 2);
}

h1.body {
  text-align: center;
  color: aliceblue;
}

strong {
  color: white;
}

div.container {
  text-align: center;
}