body {
  background-color: rgb(255, 121, 25);
}

section.order {
  background-color: coral;
  padding: 0 10% 0 10%;
}

section.board {
  background-color: rgb(201, 19, 19);
  padding: 0 10% 0 10%;
}

h1.heading {
  text-align: center;
  color: rgb(184, 2, 2);
}

h1.body {
  text-align: center;
  color: aliceblue;
}

strong {
  color: white;
}

div.container {
  text-align: center;
}